<h1>Events</h1>

<%= link_to "All Users", users_path%>
<%= link_to "New user", new_user_path%>
<%= link_to "Create Event", new_event_path%>

<ul>
<% @events.each do |event| %>
  <li><%= link_to event.name, event%></li>
<% end %>
</ul>